<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>
<!--    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>-->
<div class="body">
    <div id="LeftPanel">
        <div id="TwoChoicePanel">
            <div class="choicePanel fourRows">
                <div class="twoOptionFirst">
                    <span class="twoOptionSpan">CÓ</span>
                    <div></div>
                </div>
                <div class="twoOptionLast">
                      <span class="twoOptionSpan">KHÔNG</span>
                </div>
            </div>
            <div class="choicePanel fourRows">
                <div class="twoOptionFirst">
                    <span class="twoOptionSpan">ĐÚNG</span>
                    <div></div>
                </div>
                <div class="twoOptionLast">
                    <span class="twoOptionSpan">SAI</span>
                </div>
            </div>
            <div class="choicePanel fourRows">
                <div class="twoOptionFirst">
                    <span class="twoOptionSpan">YÊU</span>
                    <div></div>
                </div>
                <div class="twoOptionLast">
                    <span class="twoOptionSpan">KHÔNG YÊU</span>
                </div>
            </div>
            <div class="choicePanel fourRows">
                <div class="twoOptionFirst">
                    <span class="twoOptionSpan">-</span>
                    <div></div>
                </div>
                <div class="twoOptionLast">
                    <span class="twoOptionSpan">+</span>
                </div>
            </div>
        </div>
        <div id="MutiChoicePanel">
            <div class="choicePanel twoRows">

            </div>
            <div class="choicePanel twoRows">

            </div>
        </div>
    </div>
    <div id="RightPanel">
<div id="rpHeader">
<div class="title">
    <span><b>Ô</b>ng <b>T</b>rời <b>Ơ</b>i!!!</span>
</div>
    <div class="slogan">
        <span>Muốn biết sự đời, hãy hỏi ông trời</span>
    </div>
</div>
    </div>
</div>
</body>
</html>
