<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <script type="text/javascript" src="/javascripts/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="/javascripts/jquery.slotmachine.js"></script>
    <script type="text/javascript" src="/javascripts/js.js" ></script>
</head>
<body>
<!--    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>-->
<div class="body">
    <div id="LeftPanel">
        <div id="TwoChoicePanel">
            <div id="T1" onclick="optClick('T1')" class="choicePanel fourRows">
                <div class="twoOptionFirst">
                    <span class="twoOptionSpan">CÓ</span>
                </div>
                <div class="twoOptionLast">
                    <span class="twoOptionSpan">KHÔNG</span>
                </div>
            </div>
            <div id="T2" onclick="optClick('T2')" class="choicePanel fourRows">
                <div class="twoOptionFirst">
                    <span class="twoOptionSpan">ĐÚNG</span>
                </div>
                <div class="twoOptionLast">
                    <span class="twoOptionSpan">SAI</span>
                </div>
            </div>
            <div id="T3" onclick="optClick('T3')" class="choicePanel fourRows">
                <div class="twoOptionFirst">
                    <span class="twoOptionSpan">YÊU</span>
                </div>
                <div class="twoOptionLast">
                    <span class="twoOptionSpan">KHÔNG YÊU</span>
                </div>
            </div>
            <div id="T4" onclick="optClick('T4')" class="choicePanel fourRows">
                <div class="twoOptionFirst">
                    <span class="twoOptionSpan">-</span>
                </div>
                <div class="twoOptionLast">
                    <span class="twoOptionSpan">+</span>
                </div>
            </div>

        </div>
        <div id="MutiChoicePanel">
            <div class="choicePanel twoRows">

            </div>
            <div class="choicePanel twoRows">

            </div>
        </div>
    </div>
    <div id="RightPanel">
        <div id="rpHeader">
            <div class="title">
                <span><b>Ô</b>ng <b>T</b>rời <b>Ơ</b>i!!!</span>
            </div>
            <div class="slogan">
                <span>Muốn biết sự đời, hãy hỏi ông trời</span>
            </div>
        </div>
        <div id="helpText">
            <span>Con hãy nói ba lần "ÔNG TRỜI ƠI, HÃY GIÚP CON".</br>
                Ta sẽ nghe thấy và cho con lời khuyên thông thái nhất.</span>
        </div>
        <div id="boxClick">
            <div id="boxResult">
            </div>
        </div>
        <div id="answer">
            -
        </div>
        <div id="funnyText" style="display: none">
            Đó là câu trả lời của ta. Nếu con muốn ấn nữa thì cứ việc, nhưng ta chỉ trả lời thật cho một câu hỏi
            thôi.
        </div>
    </div>
    <div id="about">
        <span>Bùi Tiến Tuân - 4T</span>
    </div>
</div>
</body>
</html>
