<html>
<head>
    <script type="text/javascript" src="/javascripts/jquery-2.1.1.min.js"></script>
</head>
<body>
<canvas id="coinAnimation"></canvas>
<script src="/javascripts/coin.js"></script>
<div style="width: 100px;height: 100px;background: blue" id="buttonRandom"></div>
</body>
</html>